*.iml
.gradle
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
shared/build
shared/.gradle
webApp/build
webApp/.gradle
iosApp/build
iosApp/PMovie.xcworkspace/xcuserdata
iosApp/Pods/Pods.xcodeproj/xcuserdata
androidApp/build
androidApp/.gradle
```
